<div class="scrollmenu">
  <a><mat-chip><mat-icon>favorite</mat-icon>
One fish</mat-chip></a>
    <a>
        <mat-chip>Two fish</mat-chip>

    </a>
    <a>
  <mat-chip>Two fish</mat-chip>
    </a>
    <a>
      <mat-chip>One fish</mat-chip>
    </a>
    <a>
      <mat-chip>One fish</mat-chip>
    </a>
    <a>
      <mat-chip>One fish</mat-chip>
    </a>
    <a>
      <mat-chip>One fish</mat-chip>
    </a>
    <a>
      <mat-chip>One fish</mat-chip>
    </a>
    <a>
      <mat-chip>One fish</mat-chip>
    </a>
    <a>
      <mat-chip>One fish</mat-chip>
    </a>
<a>
  <mat-chip>One fish</mat-chip>
</a>
<a>
  <mat-chip>One fish</mat-chip>
</a>
<a>
  <mat-chip>One fish</mat-chip>
</a>
<a>
  <mat-chip>One fish</mat-chip>
</a>
<a>
  <mat-chip>One fish</mat-chip>
</a>
<a>
  <mat-chip>One fish</mat-chip>
</a>
<a>
  <mat-chip>One fish</mat-chip>
</a>
<a>
  <mat-chip>One fish</mat-chip>
</a>
<a>
  <mat-chip>One fish</mat-chip>
</a>


</div>

<mat-chip-list aria-label="Fish selection" class="scrollmenu">
  <mat-chip>One fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip>Two fish</mat-chip>

  <mat-chip color="primary" selected>Primary fish</mat-chip>
  <mat-chip color="accent" selected>Accent fish</mat-chip>
</mat-chip-list>