<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar>
    


  <mat-toolbar-row>

  
<button mat-icon-button ><img class="padding-ico" src="/assets/logo.svg"
    title="{{xcode}} {{ title }}!" height="35"></button>
  <span class="toolbar-icon-spacer"></span>

<span>
  <button mat-icon-button >
    <mat-icon >search</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
</span>


<router-outlet></router-outlet>
  </mat-toolbar-row>
  
</mat-toolbar>


<mat-tab-group headerPosition="top" mat-align-tabs="center" class="streched-content">
  <mat-tab label="First"> 
    <img src="https://images.pexels.com/photos/262353/pexels-photo-262353.jpeg?auto=compress&cs=tinysrgb&dpr=1&w={{swidth}}" />
</mat-tab>
  <mat-tab label="Second"> 
  <img
    src="https://images.pexels.com/photos/241544/pexels-photo-241544.jpeg?auto=compress&cs=tinysrgb&dpr=1&w={{swidth}}" />
</mat-tab>
  <mat-tab label="Third"> 
  <img
    src="https://images.pexels.com/photos/162625/grinder-hitachi-power-tool-flexible-162625.jpeg?auto=compress&cs=tinysrgb&dpr==1&w={{swidth}}" />
</mat-tab>
<mat-tab label="Fourth">
  <img
    src="https://images.pexels.com/photos/162625/grinder-hitachi-power-tool-flexible-162625.jpeg?auto=compress&cs=tinysrgb&dpr==1&w={{swidth}}" />
</mat-tab>
<mat-tab label="Fith">
  <img
    src="https://images.pexels.com/photos/162625/grinder-hitachi-power-tool-flexible-162625.jpeg?auto=compress&cs=tinysrgb&dpr==1&w={{swidth}}" />
</mat-tab>
</mat-tab-group>

<mat-card>  <app-xcodecontactos></app-xcodecontactos>
  </mat-card>
