<app-hero-detail></app-hero-detail>

<mat-tab-group headerPosition="top" mat-align-tabs="center" class="streched-content">
  <mat-tab label="Crecimiento">
    <div class="col-12 ">
<div class="row content-max ">
  <div class="col-6 center-sm ">
      <h3>Atrae más oportunidades</h3>
      <p>Te ayudamos a atraer nuevos clientes, crear estrategias de Marketing, calificar tus oportunidades y a automatizar tus procesos de marketing para que te dediques a lo que mejor sabes hacer. Tu Negocio</p>
      <p>
        <button type="button" color="primary" aria-label="Toggle sidenav" mat-raised-button>
          {{ctaMarketing}}
        </button>
      </p>
    </div>
  <div >
  <div class="col-6 center"><img src="../../assets/marketing.svg" alt="Marketing" width="250px" />&nbsp;</div>
</div>
</div>

<div class="clearfix"></div>
  <mat-divider class=" content-max  "></mat-divider>

<div class="row content-max  ">
    

  <div class="col-6 center-sm  ">
  <h3>Aumenta tus Cierres de Negocios</h3>
  <p >Te ayudamos a desarrollar Estrategias de Ventas, que optimizan  
    tu funnel de ventas y para hacer crecer a tu empresa.</p>
    <p>
      <button type="button"  color="warn" aria-label="Toggle sidenav" mat-raised-button>
      {{ctaVentas}} 
      </button>
    </p>
    </div>
    <div class="col-6 center"><img src="../../assets/ventas.svg" alt="Ventas" width="250px" />&nbsp;</div>
</div> 
<div class="clearfix"></div>
  <mat-divider class=" content-max  "></mat-divider>

<div class="row content-max  ">

<div class="col-6 center-sm ">
  <h3 >Deleita a tus clientes</h3>
  <p>Te ayudamos a desarrollar Estrategias de atención, 
    que optimizan tus recursos incrementando tu capacidad de respuesta permitiendote deleitar y 
    sorprender a tus clientes con un servicio sin igual.</p>
  <p><button type="button" color="accent" aria-label="Toggle sidenav" mat-raised-button>
      {{ctaServicio}} </button></p>
</div>
  <div class="col-6 center"><img  src="../../assets/servicio.svg" alt="Servicios" width="250px" />&nbsp;</div>

</div>
</div>

  </mat-tab>
  
  
  <mat-tab label="Marketing">
    <p class="center">
    <img src="../../assets/marketing.svg" alt="Marketing" width="250px" />
    </p>
    <div class="row content-max ">
<div class="center postheader">
    <h2 >Preparate para atraer más oportunidades</h2>
    <p> Asegura el éxito de tu negocio</p></div>
    </div>
    <mat-divider class="content-max"></mat-divider>
    <div class="content-max"> 

    </div>
  </mat-tab>
  <mat-tab label="Ventas">
  <p class="center">
    <img src="../../assets/ventas.svg" alt="Ventas" width="250px" />
  </p>
  <div class="row content-max ">
    <div class="center postheader">
      <h2>Preparate para atraer más oportunidades</h2>
      <p> Asegura el éxito de tu negocio</p>
    </div>
  </div>
  <mat-divider class="content-max"></mat-divider>
  <div class="content-max">
  
  </div>
  </mat-tab>
 
  <mat-tab label="Servicios ">
    <p class="center">
      <img src="../../assets/servicio.svg" alt="Servicios" width="250px" />
    </p>
    <div class="row content-max ">
      <div class="center postheader">
        <h2>Preparate para atraer más oportunidades</h2>
        <p> Asegura el éxito de tu negocio</p>
      </div>
    </div>
    <mat-divider class="content-max"></mat-divider>
    <div class="content-max">
    <app-xcodechips></app-xcodechips>
    </div><app-xcodemodcta></app-xcodemodcta>
    <div class="content-wrap ">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
    </div>
  </mat-tab>
  
</mat-tab-group>
  <mat-divider></mat-divider>
<div class="content-max"> <app-xcodecontactos></app-xcodecontactos></div>