<mat-tab-group headerPosition="top" mat-align-tabs="center" class="streched-content">
  <mat-tab label="First">
    <img
      src="https://images.pexels.com/photos/262353/pexels-photo-262353.jpeg?auto=compress&cs=tinysrgb&dpr=1&w={{swidth}}" />
  </mat-tab>
  <mat-tab label="Second">
    <img
      src="https://images.pexels.com/photos/241544/pexels-photo-241544.jpeg?auto=compress&cs=tinysrgb&dpr=1&w={{swidth}}" />
  </mat-tab>
  <mat-tab label="Third">
    <img
      src="https://images.pexels.com/photos/162625/grinder-hitachi-power-tool-flexible-162625.jpeg?auto=compress&cs=tinysrgb&dpr==1&w={{swidth}}" />
  </mat-tab>
  <mat-tab label="Fourth">
    <img
      src="https://images.pexels.com/photos/162625/grinder-hitachi-power-tool-flexible-162625.jpeg?auto=compress&cs=tinysrgb&dpr==1&w={{swidth}}" />
  </mat-tab>
  <mat-tab label="Fith">
    <img
      src="https://images.pexels.com/photos/162625/grinder-hitachi-power-tool-flexible-162625.jpeg?auto=compress&cs=tinysrgb&dpr==1&w={{swidth}}" />
  </mat-tab>
</mat-tab-group>
<mat-card>
</mat-card>