<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'push'">
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
<mat-toolbar>
    


  <mat-toolbar-row>

  
<button mat-icon-button ><img class="padding-ico" src="./assets/logo.svg"
    title="{{xcode}} {{ title }}!" height="35"></button>
  <span class="toolbar-icon-spacer"></span>

<span>
    <mat-search-bar></mat-search-bar>
</span>
<span>

  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</span>


  </mat-toolbar-row>
  
</mat-toolbar>
<router-outlet></router-outlet>

<app-xcodecontent></app-xcodecontent>

  </mat-sidenav-content>
</mat-sidenav-container>
